priority -50

snippet hom "homomorphism" w
homomorphism 
endsnippet

snippet iso "isomorphism" w
isomorphism 
endsnippet

snippet aut "automorphism" w
automorphism 
endsnippet

snippet bij "bijection" w
bijection 
endsnippet

snippet sgrp "subgroup" w
subgroup 
endsnippet

snippet nsgrp "normal subgroup" w
normal subgroup 
endsnippet
